<div class="bg" fxLayoutAlign="center center">
  <mat-card class="card mat-elevation-z8">
    <form [formGroup]="otpPassForm">
      <div fxLayout="column" fxLayoutGap="10px" fxFlex="100">
        <div class="card-title">
          <p> Confirmation Of OTP </p>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>User Name</mat-label>
          <input matInput placeholder="Username" formControlName="userName">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter OTP Password</mat-label>
          <input matInput placeholder="Password" formControlName="otpPassword">
        </mat-form-field>

        <button mat-raised-button color="primary" fxFlex (click)="onOtpSuccess()">Submit</button>
      </div>
    </form>
  </mat-card>
</div>
